{% extends 'main.html' %}
{% block content %}
<h2>Book detail</h2>
<p>
  <table border="1" width="50%">
    <tr>
      <td>Name</td><td><strong>{{ book.bookName }}</strong></td>
    </tr>
    <tr>
      <td>Author</td><td>{{ book.bookWriter }}</td>
    </tr>
    <tr>
      <td>Date released</td><td>{{ book.bookYear }}</td>
    </tr>
    <tr>
      <td>Description</td><td>{{ book.bookDetail }}</td>
    </tr>
  </table>
</p>
<h2>Status</h2>
{% if book.borrowedDate == None %}
  The book is currently in the library (not borrowed)
{% else %}
<p>
  <table border="1">
    <tr>
      <td>Borrowed by</td><td>{{ book.borrowedBy }}</td>
    </tr>
    <tr>
      <td>Date borrowed</td><td>{{ book.borrowedDate }}</td>
    </tr>
    <tr>
      <td>Returned on</td>
      {% if book.returnDate != None %}
        <td>
          {{ book.returnDate }}
        </td>
      {% else %}
        <td>
          unknown
        </td>
      {% endif %}
    </tr>
  </table>
</p>
{% endif %}
{% endblock %}
